numpy
napari[all]
catpy>=2020.9.3
pandas
coordinates
tqdm
tables
scipy
scikit-image
pandas
StrEnum
zarr
pyn5

# dev

pytest
pipe2codeblock
setuptools-scm==4.1.2
black==20.8b1
flake8==3.8.3
mypy==0.782
wheel
